@model IEnumerable<BloodDonationManagement.Models.BloodBank>

@{
	ViewData["Title"] = "Registered Blood Bank";
}

@if (User.Identity.IsAuthenticated)
{
	<div class="container mt-4">

		<div class="card text-white bg-secondary my-5 py-4 text-center">
			<div class="card-body">
				<h1 class="display-5 text-white m-0">
					Registered Blood Banks
				</h1>
			</div>
		</div>

		<div class="p-2 text-center bg-body-secondary rounded">
			<table id="bloodBankTable" class="table table-striped">
				<thead class="table-dark">
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Name)
						</th>
						<th>
							<label class="control-label">E-mail</label>
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Telephone)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Address.City)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Address.State)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-light">
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Telephone)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Address.City)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Address.State)
							</td>
							<td>
								<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Blood Bank Details</a>
								@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
								{
									<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
									<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}


@section Scripts {
	<script>
		let table = new DataTable('#bloodBankTable');
	</script>
}

