@model IEnumerable<BloodDonationManagement.Models.Contact>

@{
	ViewData["Title"] = "Messages Received";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
	<div class="container mt-4">

		<div class="card text-white bg-secondary my-5 py-4 text-center">
			<div class="card-body">
				<h1 class="display-5 text-white m-0">
					Messages Received
				</h1>
			</div>
		</div>

		<div class="p-2 text-center bg-body-secondary rounded">
			<table id="contactTable" class="table table-striped">
				<thead class="table-dark">
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Name)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Subject)
						</th>
						<th>
							<label class="control-label">User Type</label>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-light">
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Subject)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.UserType)
							</td>
							<td>
								<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Open Message</a>
								<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

@section Scripts {
	<script>
		let table = new DataTable('#contactTable');
	</script>
}